---
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Cookie);

// Our variables
$base-font-family: 'PT Sans', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.895;
$large-font-size:  $base-font-size * 1.40;

$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #454545;
$background-color: #FFF;
$brand-color:      #0088cc;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    700px;
$on-palm:          700px;
$on-laptop:        700px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin brand-background-gradient() {
  background: rgba(169,50,163,1);
  background: -moz-linear-gradient(left, rgba(169,50,163,1) 0%, rgba(0,95,204,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,50,163,1)), color-stop(100%, rgba(0,95,204,1)));
  background: -webkit-linear-gradient(left, rgba(169,50,163,1) 0%, rgba(0,95,204,1) 100%);
  background: -o-linear-gradient(left, rgba(169,50,163,1) 0%, rgba(0,95,204,1) 100%);
  background: -ms-linear-gradient(left, rgba(169,50,163,1) 0%, rgba(0,95,204,1) 100%);
  background: linear-gradient(to right, rgba(169,50,163,1) 0%, rgba(0,95,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a932a3', endColorstr='#005fcc', GradientType=1 );
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
