---
layout: default
---
<div class="post">

  <header class="post-header">
     <h1 class="post-title">{{ page.title }}</h1>
     <p class="post-meta">
         Posted on {{ page.date | date: "%b %-d, %Y" }}
         {% if page.author %} •
            {% if page.author_avatar %}
        <img class="post-avatar" src="{{ page.author_avatar }}" alt="{{ page.author }} avatar broken :("/>
            {% endif %}
        {{ page.author }}
        {% endif %}
     </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div align="center">
  	<a href="#">
  	<i class="fa fa-arrow-circle-up fa-2x"></i>
  	</a>
  </div>

</div>